# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 100
indent_size = 2
indent_style = space
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
indent_style = tab
max_line_length = 115

[*.min.html, *.min.js, *.min.css]
insert_final_newline = false
